

<html>
    <head>
        <title>My Dorcas blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dorcas Diary</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Dear Dorcas, May I serenade you?</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Won ni mo be , but I don't care.. I don't care o</p>
        </div>
    </body>
</html>
